# Datasets and Archives
Training/
Testing/
*.zip
*.tar.gz

# Python cache and environments
__pycache__/
*.pyc
.env
venv/
.venv/
env/

# IDE and OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# Scratch / unrelated files
midem.py

# Local DVC Remote Storage & MLflow Tracking Backend
dvc-storage/
mlruns/
/best_brain_tumor_monai.pth
